.Input {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    display: block;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #fda49a;
}

.ValidationError{
    color: #b8392b;
    font-size: 10px;
    display: block;
}